$blue: #233d58;
$black: #333333;
$red: #ff7214;
$white: #fff;
$green: #00ff00;

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-weight: 800;
}

p, li{
    font-size: 21px;
    color: $black;
}

small{
    color: $black;
    font-size: 16px;
}

.container{
    max-width: 960px;
}

.btn-primary{
    font-size: 23px;
    background-color: $red;
    color: white;
    border-radius: 50px;
    padding: 30px 60px;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: 0 0 25px rgb(57 255 20 / 50%);
    line-height: 1;
    border: 0;
    margin-top: 20px;
    &:hover{
        opacity: 0.9;
        background-color: $red;
    }
}

header{
    background: $blue;
    padding: 30px 0;
    h1{
        color: $white;
        margin-top: 0;
        .mark-red{
            background: $red;
            color: $white;
        }
    }
    h2{
        color: $white;
        font-size: 23px;
    }
    img{
        width: 90%;
        height: auto;
        margin: 10px 0 10px;
        border-radius: 20px;
        box-shadow: 0 0 25px rgb(255 114 20 / 50%);
    }
    small{
        color: $white;
        font-size: 16px;
    }
}

.second-block{
    padding: 30px 0;
    h3{
        margin-top: 0;
    }
}

.third-block{
    @extend .second-block;
    background: #f5f5f5;
    ul{
        padding-left: 0;
        margin-top: 20px;
        li{
            list-style: none;
            margin-bottom: 20px;
            img{
                width: 30px;
                margin: 0 10px 0 0;
                float: left;
            }
        }
    }
}

.fourth-block{
    @extend .second-block;
}

.fifth-block{
    @extend header;
    h3{
        color: $white;
    }
    p{
        color: $white;
    }
    .vl_pgto {
        font-weight: 800;
        font-style: italic;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 20px;
    }
    
    .pg_top {
        font-size: 45px;
        margin: 0!important;
    }
    
    .pg_bottom {
        font-size: 24px;
        margin: 0;
    }
    .mark-red{
        background: $red;
        color: $white;
        margin-top: -20px;
        margin-bottom: 20px;
    } 

}

.six-block{
    @extend .fourth-block;
}
